.bg-home-bg {
    background-image: url("./assets/image/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.floating-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;
    font-size: 18px;
    z-index: 10;
}

.icon-rocket {
    animation: float-rocket 6s infinite ease-in-out alternate;
    position: absolute;
    top: calc(10vh + 10 * var(--random));
    left: calc(10vw + 10 * var(--random));
}

.icon-satellite {
    animation: float-satellite 7s infinite ease-in-out alternate;
    position: absolute;
    top: calc(20vh + 10 * var(--random));
    left: calc(20vw + 10 * var(--random));
}

.icon-meteor {
    animation: float-meteor 5s infinite ease-in-out alternate;
    position: absolute;
    top: calc(30vh + 10 * var(--random));
    left: calc(30vw + 10 * var(--random));
}

.icon-shuttle {
    animation: float-shuttle 6s infinite ease-in-out alternate;
    position: absolute;
    top: calc(40vh + 10 * var(--random));
    left: calc(40vw + 10 * var(--random));
}

.icon-astronaut {
    animation: float-astronaut 7s infinite ease-in-out alternate;
    position: absolute;
    top: calc(50vh + 10 * var(--random));
    left: calc(50vw + 10 * var(--random));
}

@keyframes float-rocket {
    0% {
        transform: translate(-10px, -10px);
    }

    50% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translate(-10px, -10px);
    }
}

@keyframes float-satellite {
    0% {
        transform: translate(10px, -10px);
    }

    50% {
        transform: translate(-10px, 10px);
    }

    100% {
        transform: translate(10px, -10px);
    }
}

@keyframes float-meteor {
    0% {
        transform: translate(-5px, 5px);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(-5px, 5px);
    }
}

@keyframes float-shuttle {
    0% {
        transform: translate(5px, 5px);
    }

    50% {
        transform: translate(-5px, -5px);
    }

    100% {
        transform: translate(5px, 5px);
    }
}

@keyframes float-astronaut {
    0% {
        transform: translate(-15px, -5px);
    }

    50% {
        transform: translate(15px, 5px);
    }

    100% {
        transform: translate(-15px, -5px);
    }
}